<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm navback navbar-light">

<div>
  <nav class="nav">
    <img src="assets/homepage-logos/flipkart-logo.jpg">
    <input type="text" size="10" placeholder="Search for products and more..">
    <a class="index" href="">Login & Signup</a>
    <a class="index" href="#">Products</a>
    <a class="index" href="#">Services</a>
    <a class="index" href="#">Cart</a>
  </nav>
</div></nav>
<app-customer></app-customer>
<app-price></app-price>


