<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
<h1 style="color:blue">
  FLIPKART
</h1>
<div>
  <nav class="nav">
    <a class="nav-link" href="#">Login&Signup</a>
    <a class="nav-link" href="#">Products</a>
    <a class="nav-link" href="#">Services</a>
    <a class="nav-link" href="#">Cart</a>
  </nav>
</div></nav>
<h2> Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

